@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Montserrat:wght@500&family=Sofia+Sans+Condensed&display=swap");

​​​​​​* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: auto;
  width: 25%;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #f4f4f4;
  margin-bottom: 20px;
}

.card {
  border-bottom: 1px solid #cccccc;
}

.contact-list,
.new-contact,
.contact-details li {
  list-style: none;
  margin-left: -20px;
}

.search-input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccccc;
}

.firstname-input,
.lastname-input,
.number-input,
.email-input {
  width: 70%;
  height: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-left: -20px;
}

.add-contact {
  width: 28%;
  height: 30px;
  border-radius: 5px;
  background: rgb(4, 184, 4);
  color: #f4f4f4;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.save-contact,
.edit-contact {
  width: 18%;
  height: 30px;
  border-radius: 5px;
  background: rgb(4, 184, 4);
  color: #f4f4f4;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.go-back {
  width: 18%;
  height: 30px;
  border-radius: 5px;
  background: rgb(4, 97, 184);
  color: #f4f4f4;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.delete-contact {
  width: 18%;
  height: 30px;
  border-radius: 5px;
  background: rgb(204, 7, 7);
  color: #f4f4f4;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}
